[package]
name = "sensor_alignment"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.54", features = ["derive"] }
evdev = "0.13.2"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = "abort"
